<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Login</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" th:href="@{/css/main.css}" />
	<script>function showLogin(){
		
		var loginLink= document.getElementById('loginLink');
		loginLink.click();
	}
	</script>
</head>

<!--  <body th:style="'background:url('+@{/images/logo.jpg}+');'">  -->
<body>
<!--  <img th:src="@{/images/unilever_logo.png}"/>  -->

	
 <div class="navbar navbar-default">
 <div class="container-fluid">
  <div class="header-block"><a th:href="@{/login}"><img th:src="@{/images/ulogo.png}"></img></a></div>	
 <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
     
    </div>
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
 <ul class="nav navbar-nav navbar-right">
        
        <li class="dropdown">
       <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color: #2D39DD;font-size: 15px;
	font-weight: bold; padding-right: 20px;" id= "loginLink">Login <span class="caret"></span></a>
			<ul id="login-dp" class="dropdown-menu">
				<li>
					 <div class="row">
							<div class="col-md-12">
								
								 <form role="form" onsubmit="login()" method="POST" class="form-signin" accept-charset="UTF-8" id="login-nav">
										<div class="form-group">
											 <label class="sr-only" for="email">Email</label>
											 <input type="text" id="email" name="email"
						th:placeholder="Email" class="form-control" />
										</div>
										<div class="form-group">
											 <label class="sr-only" for="password">Password</label>
											 <input
						type="password" th:placeholder="Password" id="password"
						name="password" class="form-control" />
						
					</div>
					<div align="left" th:if="${param.error}">
					<script type="text/javascript">
					showLogin();
					</script>
						<p style="font-size: 20; color: #FF1C19;">Email or password is
							invalid</p>
							</div>
                                             <div class="help-block text-right"><a th:href="@{/forgot}">Forgot Password ?</a></div> 
										
										<div class="form-group">
											 <button class="btn btn-primary btn-block" name="Submit" value="Login"
						type="Submit" >Sign in</button>
										</div>
										
								 </form>
								 
							</div>
							
					 </div>
				</li>
			</ul>
        </li>
      </ul>
      
     	</div>
     	
    </div> 
  
    </div>
  
    <div class="fusion-fullwidth" style="background-color: rgba(192,192,192,0.3);
    background-image: url(&quot;https://scsanalytics.com/wp-content/uploads/2017/01/iStock-489977068.jpg&quot;);
  background-position: center center;
    background-repeat: no-repeat;padding-top:80px;padding-right:30px;padding-bottom:50px;padding-left:30px;
    -webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;background-attachment:none;">
    <div class="fusion-builder-row fusion-row ">
    <div class="fusion-layout-column" style="margin-top:0px;margin-bottom:10px;">
	<div class="fusion-column-wrapper" style="padding: 40px 0px 20px; background-position: left top; background-repeat: no-repeat;
	 background-size: cover; min-height: 211px; height: auto;" data-bg-url="">
	<div class="fusion-title title fusion-sep-none fusion-title-center fusion-title-size-one fusion-border-below-title" 
	style="margin-top:0px;margin-bottom:31px;">
	<h1 class="title-heading-center" data-fontsize="38" data-lineheight="53">
	<span style="color: #ffffff;">Access Portal</span></h1></div>
	<div class="fusion-title"
	 style="margin-top:0px;margin-bottom:31px;">
	 <h3 class="title-heading-center" data-fontsize="24" data-lineheight="36">
	 <span style="color: #ffffff;">Click <a  style="color:white; text-decoration: underline;" th:href="@{/form}">here</a> to request access</span></h3></div>
	 
	 
	 <div class="fusion-clearfix">
	 </div>
					</div>
				</div></div></div>

	<div class="container login-container ">
		<!--<div class="row">		
			<div class="panel panel-default">
			<div class="panel-body">
				
			 <div class="col-md-8 col-md-offset-2">
				<form th:action="@{/login}" method="POST" class="form-signin">
				
					<h3 class="form-signin-heading" th:text="Login"></h3> 
					<br /> <input type="text" id="email" name="email"
						th:placeholder="Email" class="form-control" /> <br /> <input
						type="password" th:placeholder="Password" id="password"
						name="password" class="form-control" /> <br />

					<div align="center" th:if="${param.error}">
						<p style="font-size: 20; color: #FF1C19;">Email or Password
							invalid, please verify</p>
					</div>
		
					
					<div class="loginSubmit">
					<button class="btn btn-primary btn-block" name="Submit" value="Login"
						type="Submit" th:text="Login"></button>
					</div>							
				</form>
				<br />
				<div  class="forgotpwd">
					 <form id="reset" name= "resetForm" th:action="@{/forgot}" method="GET"> 
					 <button class="btn btn-primary btn-block" name="Reset" value="Submit"
						type="Submit"  > Forgot Password</button>
					
					 </form> 
					</div>
					<br />
					<div class="access"> <a th:href="@{/form}">Request Access</a></div>
					<br /> 
			</div>
		</div>
</div>
</div>-->
	</div>
	
	
 <div class="navbar navbar-inverse navbar-fixed-bottom"> 
<!-- <div class="footer"> -->
<p class="footer-block">
  <img src="https://scsanalytics.com/wp-content/uploads/2017/02/250ElevatingSCSAnalytics.png"></img>
       </p>	
     	
    </div> 
</body>
</html>